#myCustom {
	transition:box-shadow .25s !important;
	padding:20px !important;
	margin:0.5rem 0 1rem 0 !important;
	border-radius:2px !important;
	background-color:#fff !important;
}

#request{
	font-size: 20px;
	padding: 0;
}

.row .header2{
	font-size: 30px;
	padding-top: 2rem;
}

#name{
	margin-top: -1rem;
}

#transpo{
	margin-top: 4rem;
}

